
canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

#hidden_layer_sizes {
  font-family: monospace;
}

.btn-checkbox {
  background-color: white !important;
}

.btn-checkbox.active {
  background-color: #337ab7 !important;
}

.btn-checkbox span.glyphicon {
  margin-top: 2px;
  opacity: 0.1;
  color: black;
}

.btn-checkbox.active span.glyphicon {
	opacity: 1;
  color: white;
}

.slider-handle {
  background-color: #337ab7;
  background-image: none;
  border: 1px solid #2e6da4;
}

#js-weights_visualization {
  display: flex;
  align-items: center;
}

#js-weights_visualization canvas {
  margin: 2px;
  box-shadow: 2px 2px 2px #888;
  opacity: 0.93;
}

#js-weights_visualization canvas:hover {
  box-shadow: 2px 2px 2px #666;
  opacity: 1;
}

#js-weights_visualization_zoom {
  display: flex;
  justify-content: center;
}

#js-weights_visualization_zoom canvas {
  box-shadow: 3px 3px 3px #888;
}

.generated_sample {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

#training_data {
  width: 100%;
  height: 80rem;
  border: none;
  resize: none;
  padding: 1rem;
}
